* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #DCC9B6
}

.header {
   padding: 20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color:#727D71; 
   color: #DCC9B6;
}

.header h1 {
    display: inline-block;
    font-size: 45px;
    background-color: #DCC9B6;
    color: #6D4C3D;
    padding-left: 70px;
    padding-right: 10px;
    margin-left: -20px;
}

.header nav {
    padding-top: 10px;
    color: #DCC9B6;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    font-size: 25px;
}

.header a {
   display: inline-block;
   margin: 5px;
   color: #DCC9B6;
}
.main {
    margin-top: 20px;
}

.main div  {
    display:flex;
    justify-content: space-between;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    
}
    

#about-me,
#work,
#resume,
#contact-me {
    display:inline-block;
    border-right: 5px #727D71 solid;
    margin-right: 25px;
    padding: 5px ;
    text-align:right;
    font-size: 35px;
    color: #727D71;
    width: 30%;
    margin: 10px 25px
}

#mypic {
    height: 15%;
    width: 15%;
}

#contnent {
    width: 50%;

 }

 #resume {
     height: 20%;
     width: 25%
     
 }


 @media screen and (max-width: 992px) {
     .header h1 {
         font-size: 40px;
     }
     #links{
         font-size: 20px;
     } }
  
  @media screen and (max-width: 768px) {
    .header h1 {
      font-size: 25px;
    }
    #links {
        font-size: 15px;
    }
  }
  
  @media screen and (max-width: 576px) {
   
    .header h1 {
       font-size: 15px;
    }
    #links{
        font-size:10px;
      }
  }


/*.main section {
    display: flex;
    flex-direction: row;
    max-height: auto;
    
}

section h1 {
    display: flex;
    float:left;
    position:inherit;
    margin-left: 200px;
    margin-right: 50px;
    padding-right: 20px;
    color: #727D71;
    border-right: 5px solid #727D71;
}

.main a{
    color: #6D4C3D;
    
}

.main li a{
    color: #6D4C3D;
    
}

.contact div ul li {
    display: inline-block;


}



/*section {
    column-count: 2;
}

.section {
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:auto;
    padding: auto;
    color: #727D71

}*/