* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --coffee: #6D4C3D;
    --grullo: #A39171;
    --almond: #DCC9B6;
    --xanadu: #727D71;
}
body {
    background-color: var(--almond);
}

.header {
   padding: 20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color:var(--xanadu); 
   color: var(--almond);
}

.header h1 {
    display: inline-block;
    font-size: 45px;
    background-color: var(--almond);
    color: var(--coffee);
    padding-left: 70px;
    padding-right: 10px;
    margin-left: -20px;
}

.header nav {
    padding-top: 10px;
    color: var(--almond);
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    font-size: 25px;
}

.header a {
   display: inline-block;
   margin: 5px;
   color: var(--almond);
}

#mypic {
    max-width: 15%;
    padding: 5px;
    float:center;
    /* margin-left: -20px; */
}

.main {
    margin-top: 20px;
}

.main div  {
    display:flex;
    width:100%;
}

/* side sections */
#about-me,
#work,
#resume,
#contact-me {
    display:inline-block;
    border-right: 5px var(--xanadu) solid;
    margin-right: 25px;
    padding: 5px ;
    text-align:right;
    font-size: 40px;
    color: var(--xanadu);
    width: 20%;
    margin-bottom: 45px;
}

/* about me words */
.content {
    display:flex;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 70%;
    padding: 25px;
    font-size: 20px;
    color:var(--coffee);
    border: 50px;
 }
 
.projectsContainer{
    display:flex;
    flex-direction: column;
    /* justify-content: center;  */
    /* align-items: center; */
    margin-bottom: 70px;
    /* height: 300px;
    width:100%; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    /* padding: 25px; */
}

/* .mainProject{
    position:relative; */

.project1{
    /* position:absolute;
    bottom:30px; */
    background-color:var(--coffee);
    color:var(--almond);
    font-size:40px;
    margin-top:100px;
    padding-right:40px;
   
    float: left;
}

#project-1{
    background-image: url("../images/project1.png");
    background-size:cover;
    border: solid 3px  var(--xanadu);
    margin-top:15px;
    width: 90%;
    height: 200px;
}

.minorProjects{
    /* display:inherit; */
    display:relative;
    width: 320px;
    
   
    

  .passwordGenerator{
      /* display:absolute;
      bottom:0px; */
    background-color:var(--coffee);
    color:var(--almond);
    font-size:15px;
    margin-top:50px;
    padding:5px;
    float: left;
  }
  


#password_generator{
    background-image: url("../images/passwordproject.png");
    background-size:cover;
    /* display: inline-block; */
    border: solid 3px  var(--xanadu);
    /* padding: 20px; */
    /* background: -webkit-linear-gradient( var(--grullo), var(--coffee)); */
    /* font-size: 20px; */
    /* text-align: center; */
    /* color:var(--almond); */
    width: 45%;
    height: 100px;
}

.workDayScheduler {
    background-color:var(--coffee);
    /* border: black solid 3px; */
    color:var(--almond);
    font-size:15px;
    margin-top:50px;
    padding: 5px;
    float: left;

}

#work_day_scheduler {
    background-image: url("../images/Screen\ Shot\ 2022-03-31\ at\ 10.03.55\ PM.png");
    background-size:cover;
    border: solid 3px  var(--xanadu);
    width: 45%;
    height: 100px;
}

#comingSoon{
    border: solid 3px  var(--xanadu);
    background: -webkit-linear-gradient( var(--grullo), var(--coffee));
    font-size: 20px;
    text-align: center;
    color:var(--almond);
    width: 45%;
    height: 100px;
      
}


.main a {
    color:var(--coffee);
}

 #contact {
    display:flex;
    justify-content: space-between;
}

 @media screen and (max-width: 992px) {
     .header h1 {
         font-size: 40px;
     }
     #links{
         font-size: 20px;
     } 
    .content {
        flex-direction: column;
    }
    
    #mypic {
        width: 40%; 
        height:40%; 
    }
}
  
 @media screen and (max-width: 768px) {
   
    .header h1 {
        font-size: 25px;
     }
     #links{
         font-size:15px;
       }
     .content {
    flex-direction: column; 
     }

     #mypic{
         width: 50%;
         height: 50%;
     }

     #about-me,
     #work,
     #resume,
     #contact-me {
    font-size: 20px;
     }
        
    }
  
  @media screen and (max-width: 576px) {
   
   .header h1 {
       font-size: 15px;
    }
    #links{
        font-size:10px;
      }
    .content {
        flex-direction: column;
    }
    #mypic{
        width: 50%;    
    }
    #about-me,
    #work,
    #resume,
    #contact-me {
        font-size: 20px;
    }

  }


