* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --coffee: #6D4C3D;
    --grullo: #A39171;
    --almond: #DCC9B6;
    --xanadu: #727D71;
}
body {
    background-color: var(--almond);
}

.header {
   padding: 20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color:var(--xanadu); 
   color: var(--almond);
}

.header h1 {
    display: inline-block;
    font-size: 45px;
    background-color: var(--almond);
    color: var(--coffee);
    padding-left: 70px;
    padding-right: 10px;
    margin-left: -20px;
}

.header nav {
    padding-top: 10px;
    color: var(--almond);
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    font-size: 25px;
}

.header a {
   display: inline-block;
   margin: 5px;
   color: var(--almond);
}
.main {
    margin-top: 20px;
}

.main div  {
    display:flex;
    width:100%}
    /*justify-content: space-between;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}   */

#about-me,
#work,
#resume,
#contact-me {
    display:inline-block;
    border-right: 5px var(--xanadu) solid;
    margin-right: 25px;
    padding: 5px ;
    text-align:right;
    font-size: 40px;
    color: var(--xanadu);
    width: 20%;
    margin-bottom: 45px;
}

.content {
    display:flex;
    justify-content: space-between;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 70%;
    padding: 25px;
    font-size: 25px;
    color:var(--coffee);
 }
 

#mypic {
    height: 100%;
    width: 30%;
    padding: 15px;
}

.work {
    margin-right: 50px;
}

#project-1,
#project-2,
#project-3 {
    display: inline;
    border: solid 3px  var(--xanadu);
    padding: 20px;
    background: -webkit-linear-gradient( var(--grullo), var(--coffee));
    border-radius: 15px;
    text-align: center;
    color:var(--almond);

}

#project-1:hover,
#project-2:hover,
#project-3:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}


 @media screen and (max-width: 992px) {
     .header h1 {
         font-size: 40px;
     }
     #links{
         font-size: 20px;
     } }
  
  @media screen and (max-width: 768px) {
    .header h1 {
      font-size: 25px;
    }
    #links {
        font-size: 15px;
    }
    #mypic {
        position: relative;
        
    }
  }
  
  @media screen and (max-width: 576px) {
   
    .header h1 {
       font-size: 15px;
    }
    #links{
        font-size:10px;
      }
  }


/*.main section {
    display: flex;
    flex-direction: row;
    max-height: auto;
    
}

section h1 {
    display: flex;
    float:left;
    position:inherit;
    margin-left: 200px;
    margin-right: 50px;
    padding-right: 20px;
    color: #727D71;
    border-right: 5px solid #727D71;
}

.main a{
    color: #6D4C3D;
    
}

.main li a{
    color: #6D4C3D;
    
}

.contact div ul li {
    display: inline-block;


}



/*section {
    column-count: 2;
}

.section {
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:auto;
    padding: auto;
    color: #727D71

}*/